*{
	margin: 5px;
	padding: 5px;
}
body{
	width: 98%;
	height: 550px;
	border: 0px;
}
header{
	width: 98%;
	height: 12%;
	border: 1px solid;
}
footer{
	width: 98%;
	height: 17%;
	border: 1px solid;
}

div.wrap{
	width: 98%;
	border: 1px solid;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}
.main{
	width: 63%;
	height: 350px;
	float: left;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid;

}
.sidebar{
	width: 33%;
	height: 350px;
	padding: 5px;
	margin-bottom: 5px;
	float: right;
	border: 1px solid;
}

