*{
	margin: 5px;
	padding: 5px;
}
body{
	width: 98%;
	height: 550px;
	border: 0px;
}
header{
	width: 98%;
	height: 12%;
	border: 1px solid;
}
footer{
	width: 98%;
	height: 17%;
	border: 1px solid;
}

div.wrap{
	width: 98%;
	height: 60%;
	border: 1px solid;
}
.main{
	width: 63%;
	height: 95%;
	float: left;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid;

}
.sidebar{
	width: 33%;
	height: 95%;
	padding: 5px;
	margin-bottom: 5px;
	float: right;
	border: 1px solid;
}

