*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
} 

body {
	font-family: Helvetica, Arial, sans-serif;
}

.services::after {
	content: '';
	display: block;
	clear: both;
}

.bot{
	display: block;
	width: 100%;
	height: 35px;
	margin: auto;
	padding-top: 5px;
	background-color: #cf5b4e;
	text-align: center;
	border-radius: 10px;
	color:#ffffff;
	font-size: 15px;
	margin-bottom: -20px;
}

.wrapper{
	width: 650px;
	margin: auto;
	padding: 30px;
	line-height: 180%;
	background: #d1d1d1;
}

.wrap {
	background: #fff;
	padding: 50px;
}

.banner {
  	display: block;
  	width: 100%;
}

h3{
	text-align: center;
	font-size: 22px;
	font-weight: normal;
}

p {
	margin: 20px 0;
}

span, a{
	font-weight: bold;
}

.services {
    display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.services > div {
	position: relative;
	width: 47%;
	margin-bottom: 30px;
	padding-bottom: 40px;
}

.services div:first-child,
.services div:nth-child(3n),
.services div:nth-child(3n + 1) {
	margin-right: auto;
}

.services div:nth-child(n + 3) {
	width: 30%;
}

.services div img {
	width: 100%;
}

.services div button {
	width: 100%;
  	position: absolute;
    bottom: 0;
}

.italic {
    font-style: italic;
}

.conclusion{
	margin-top: -40px;
}
footer{
	padding-top: 60px;
	text-align: center;
	color: white;
	font-size: 14px;
}
