*{
	margin: 0;
	padding: 0;
}
div{
	width: 100px;
	height: 100px;
	float: left;
}
.blue{
	background-color: blue;
}
.red{
	background-color: red;
	margin-top: 100px;
}
.yel{
	background-color: yellow;
	margin-top: 200px;
}